@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo{
  font-size: 2rem; 
  font-family: Poppins, sans-serif; /* Match your typography */
  font-weight: bold; /* Optional: bold text */
  background: linear-gradient(to right, #000000 0%, #3E0D52 19%, #1B5645 46%, #8C9511 100%);
  -webkit-background-clip: text; /* Clips the gradient to the text */
  -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
  text-align: center; /* Optional: center alignment */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
